
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1A0B2E;
  padding: 1px;
  margin-top: 2px;
  border: 1px solid #3f1c6c;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  padding: auto 90px;
  max-width: 1600px;
  width: 86%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 30px;
  font-weight: 600;
}

.nav-logo a{
  text-decoration: none;
  color: #ffffff;
}

.menu {
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;

}

.btn {
border: none;
background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
padding: 5px 7px;
border-radius: 20px;
color: white;
font-weight: 600;
font-size: 16px;
cursor: pointer;
transition: all 0.3s ease;
}

.btn:hover {
background: linear-gradient(to bottom, #F7E93F, #FB09B4, #9100F8);
transform: translateY(-2px);
}

.Wave {
background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner {
  position: relative;
  height: 90vh;
  background: radial-gradient(circle at top, #2b145f, #0b0620);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}

.banner-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 750px;
  padding: 20px;
}
.banner-icon {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.badge {
  position: absolute;
  top: -1px;
  right: -3px;
  background: #2aff8f;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 12px;
  border-radius: 20px;
}
.circle {
  position: relative;
  height: 340px;
  width: 340px;
}
.circle-bg {
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.mic {
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}
.banner-content h1 {
  font-size: 48px;
  margin-bottom: 12px;
}
.banner-content p {
  font-size: 16px;
  color: #ffffff;
  opacity: 70%;
  margin-bottom: 28px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.bnr-btn1 {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.bnr-btn1:hover {
background: linear-gradient(to bottom, #F7E93F, #FB09B4, #9100F8);
transform: translateY(-2px);
}

.bnr-btn2 {
  background: transparent;
  border: 1.5px solid #00FF88;
  color: #00FF88;
  padding: 12px 27px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.bnr-btn2:hover {
background: #90b992;
transform: translateY(-2px);
}


.podcast {
  background-color: #18072e;
  border: 2px solid black;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
.podcast .container {
max-width: 1100px;
margin: 0 auto;
}
.podcast h2 {
  font-size: 42px;
  margin-bottom: 20px;
}
.podcast p {
  color: #c9c3e6;
  font-size: 15px;
  line-height: 1.7;
  max-width: 750px;
  margin: 0 auto 12px;
}

.podcast .intro {
  margin-bottom: 8px;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 60px 0;
  background: #3f1c6c;
}
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.stat-box h3 {
  font-size: 38px;
  font-weight: 700;
  color: #2aff8f;
  margin-bottom: 6px;
}
.stat-bonx span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #bdb6e3;
}


.why-techwave {
  background-color: #230E3D;
  padding: 100px 20px;
  color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.why-techwave h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  font-weight: 700;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  grid-template-areas:
  "card1 card2 card2"
  "card1 card3 card3"
  "card4 card4 card5"
  ".      .      card5";
}

.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.card3 {grid-area: card3;}
.card4 {grid-area: card4;}
.card5 {grid-area: card5;}

.features-card {
  background: linear-gradient(180deg, #2a1456, #1e0c3e);
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 10px 30px #00000059;
  color: white;
  transition: transform 0.3s ease;
}
.features-card:hover {
  transform: translateY(-6px);
}
.icon {
  margin-bottom: 14px;
}
.icon img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  filter: drop-shadow(0 0 8px #FF00C880);
}
.features-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfc6f5;
}
.card4 p {
  max-width: 85%;
}
.card4 {
  padding-bottom: 36px;
}
.card5 {
  max-width: 100%;
  height: 88%;
}



.video-card {
  background: #16082f;
  color: #fff;
  padding: 60px 8%;
}

.video-card h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: 700;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.video {
  background: #2a0b4e;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}

.video:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px #00000066;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #fff;
  line-height: 1;
}

.video-content {
  padding: 18px;
}

.video h3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 8px;
}

.video p {
  font-size: 16px;
  color: #d0c8e8;
  line-height: 1.5;
  margin-bottom: 14px;
}

.time {
  font-size: 18px;
  color: #7cffb2;
}

